<!DOCTYPE html>
<html>
<head>
<meta name="description" content="Mobile Navigation Report">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/style.css">
<title>Page Title</title>
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 63px 0px 12px 48px;padding: 0px;border: none;width: 768px;}
#page_1 #id1_1 {border:none;margin: 125px 0px 0px 0px;padding: 0px;border:none;width: 768px;overflow: hidden;}
#page_1 #id1_2 {border:none;margin: 19px 0px 0px 98px;padding: 0px;border:none;width: 670px;overflow: hidden;}
#page_1 #id1_2 #id1_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 288px;overflow: hidden;}
#page_1 #id1_2 #id1_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 382px;overflow: hidden;}
#page_1 #id1_3 {border:none;margin: 27px 0px 0px 97px;padding: 0px;border:none;width: 671px;overflow: hidden;}

#page_1 #p1dimg1 {position:absolute;top:0px;left:12px;z-index:-1;width:722px;height:82px;}
#page_1 #p1dimg1 #p1img1 {width:722px;height:82px;}

.p0{text-align: left;padding-right: 67px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-right: 59px;margin-top: 13px;margin-bottom: 0px;}
.p2{text-align: left;padding-right: 78px;margin-top: 13px;margin-bottom: 0px;}

#container .left,
#container .right {
    display: inline-block;
}

#container .left {
    width: 20%;
    float: left;
}
#container .right {
    width: 80%;
    float: right;
}

</STYLE>

</head>
<body>
<nav class="navbar bg-primary">
<div class="container">
  <a class="navbar-brand" href="#">
    <img src="../images/altaIcon.png" width="120" height="25" alt="altametrics">
  </a>
  <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
         <a class="nav-link" href="#"><strong>PDF REPORT</strong></a>
      </li>
</div>
</nav>


<div style="width: 50%; float:left">
{{#bean}}
<p id="p0 ft0">{{{first}}}</p>
{{/bean}}
</div>

<div style="width: 50%; float:right">
 
{{#textValue}}
<p id="p0 ft0">{{{second}}}</p>
{{/textValue}}
</div>



</body>
</html>
